/* Estilo general segun requisitos */

body {
    background-image: url('./assets/images/fondo_final.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Titulos */
h1 {
    color: #333333;
    font-family: 'Playfair Display', sans-serif;
}

h2 {
    color: #333333;
    font-family: 'Playfair Display', serif;
}

h3 {
    color: #ffffff;
    font-family: 'Playfair Display', serif;
}

footer iframe {
    width: 90%;
    height: 70%;
    display: block;
}

.card-panel h5 {
    font-size: 2.2rem !important;
    margin-bottom: 8px !important;
}

.titulo-formulario {
    margin-bottom: 20px;
}

.formulario-pagina {
    padding-top: 15px;
}


/* Links */
a {
    font-family: 'Montserrat', sans-serif;
}




/* Estilo del navbar */

.navbar-custom {
    background-color: #F7F7F7;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.10);
    ;
    /* horizontal - vertical - desenfoque - color sombra  */
    border: none;
    min-height: 180px;
    /* Con esta logramos que el navbar sea mas "alto" */
    padding-top: 20px;
    /* Espacio superior */
    padding-bottom: 20px;
    /* Espacio inferior */
}

.nav-wrapper {
    padding: 0.5rem 0;
}

.navbar-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2.5rem;
    /* Espacio entre las opciones */
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.navbar-center a {
    /* Propiedades de los links */
    color: #2E8B57 !important;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    transition: color 0.2s;
}

.navbar-center a:hover {
    color: #333333 !important;
    /* Verde Esmeralda al pasar el mouse */
}

.navbar-center i:hover {
    color: #333333 !important;
    /* Verde Esmeralda al pasar el mouse */
}

.navbar-logo-container {
    display: flex;
    /* flexbox o si no no funciona nada */
    justify-content: center;
    /* centramos horizontalmente */
    align-items: center;
    /* centramos verticalmente todo contenido */
    width: 100%;
    /* toma toda la pagina en ancho, asi es mas facil centrar */
    margin-bottom: 5px;
    /* Puse este margen para separar de los links */
}

/* Para editar la imagen del logo */
.navbar-logo {
    max-height: 70px;
    width: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}


/* Estilo del footer */

.footer-custom {
    background-color: #F7F7F7;
    padding: 40px 0 20px 0;
    margin-top: 40px;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.10);
    /* horizontal - vertical - desenfoque - color sombra  */
}

.footer-title {
    font-family: 'Playfair Display', serif;
    color: #8B4513;
    font-size: 1.3rem;
    margin-bottom: 12px;
}

.footer-text {
    color: #666666;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

/* Mensajes de error de Parsley en rojo y destacados */
.parsley-errors-list {
    color: #d32f2f;
    /* Rojo Material Design */
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-top: 4px;
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
}

/* Formateo iconos de font awesome (usados en el footer) */
.social-icon {
    color: #2E8B57;
    font-size: 2rem;
    margin-right: 16px;
    transition: color 0.2s;
    text-decoration: none;
}

.social-icon:hover {
    color: #FFD700;
}


/* Formateo elementos form de Materialize */

/* Destacado del label del form */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-bottom: 1px solid #333333 !important;
    box-shadow: 0 1px 0 0 #333333 !important;
}

/* label focus color form*/
input[type="text"]:focus+label,
input[type="email"]:focus+label,
input[type="password"]:focus+label {
    color: #333333 !important;
    font-weight: bold !important;
}

/* Día seleccionado datepicker */
.datepicker-date-display {
    background-color: #2E8B57 !important;
    color: #F7F7F7 !important;
}

/* Color de los botones aceptar y cancelar del datepicker*/
.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done {
    color: #2E8B57 !important;
    font-weight: bolder;
}

/* Fecha del calendario , lo movemos un poco por que en español
no se ven bien los nombres*/

.datepicker-controls .select-dropdown.dropdown-trigger {
    width: 50px !important;
    min-width: 100px !important;
}

/* Cambiando colores de los valores del dropdown del datepicker*/
.datepicker-controls .dropdown-content li>a,
.datepicker-controls .dropdown-content li>span {
    color: #2E8B57 !important;
    font-weight: bold;
}

/* Cambia el color de los valores de año en el dropdown del datepicker */
.dropdown-content.select-dropdown li>span {
    color: #2E8B57 !important;
}

/* Cambiamos color de botones cuando son presionados del datepicker*/
.month-prev:active,
.month-next:active {
    background-color: #2E8B57;

}

/* Color botones materialize */
.btn {
    background-color: #2E8B57 !important;
    /* Verde Esmeralda */
    color: #F7F7F7 !important;
    /* Blanco suave para el texto */
    font-weight: bold;
    border-radius: 10px;
    /* Bordes redondeados */
    box-shadow: none;
    /* Sin sombra */
}

/* Color de los toast de materialize */
.toast {
    background-color: #F7F7F7 !important;
    color: #333333 !important;
    font-weight: bold;
}

/* Cambiamos altura de imagenes en carousel */
.carousel .carousel-item img {
    object-fit: cover;
    /* esto ajusta la imagen sin deformarla */
    height: 700px !important;
    /* ajusta la altura total */
}


/* Estilo de las cards de testimonios */
.testimonial-card {
    border-radius: 15px;
    border-bottom: 15px solid #2E8B57;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.04);
    font-family: 'Montserrat', sans-serif;
}

.card-image {
    height: 200px;
    width: 100%;
    object-fit: cover;

}

.card-image img {
    max-height: 200px;
    width: 100%;
    object-fit: cover;
    display: block;
}

.card {
    height: 100%;
    /* ocupa todo el espacio disponible en la columna */
    display: flex;
    flex-direction: column;
}

.card-content {
    flex-grow: 1;
    /* se expande para rellenar y nivelar */
}

.testimonial-card-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 1rem;
    line-height: 1.6;
}


/* Reduce la altura del carousel */
.carousel.carousel-slider {
    height: 500px !important;
    max-height: 500px !important;
}

.carousel.carousel-slider .carousel-item img {
    height: 500px !important;
    width: 100% !important;
    object-fit: cover;
    display: block;
}

.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 120px;
    padding: 20px;
    box-sizing: border-box;
}


/* Para formatear el search bar */

.navbar-bootstrap-search .form-control:focus {
    border-color: #FFD700;
    box-shadow: 0 0 0 0.2rem rgba(46, 139, 87, .15);
}

.navbar-bootstrap-search .btn:hover {
    background: #FFD700;
    color: #2E8B57;
}

/* Texto main */
.section-subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}